* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* base layouts */
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'American Typewriter';
	background-color: grey;
	color: white;
}

/* Grid layouts */
.wrapper {
	display: grid;
	width: 100%;
	height: 100%;
	margin: 0;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "energy bros""energy smile";
}

#logo {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.house {
	display: grid;
	justify-content: left;
	margin-top: 20px;
	margin-left: 20px;
}

#light,
#teeth,
#bro {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-nav {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}

.energy {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	justify-self: stretch;
	grid-area: energy;
}

.bros {
	grid-column: 2 / 2;
	grid-row: 2 / 1;
	grid-area: bros;
}

.smile {
	grid-column: 2 / 2;
	grid-row: 2 / 2;
	grid-area: smile;
}

/* hexagon element */
.trap {
	clip-path: polygon(78% 0, 100% 49%, 76% 100%, 28% 100%, 0 50%, 21% 0);
	position: relative;
}



.hamburger {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: end;
	margin: 25px;

}

.bar1,
.bar2,
.bar3 {
	width: 55px;
	height: 15px;
	background-color: black;
	border: 5px solid black;

}

.bar4,
.bar5,
.bar6 {
	position: relative;
	padding-left: 1.25em;
}

.bar4,
.bar5,
.bar6:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 10px;
	width: 20px;
	height: 2px;
	background: white;
	box-shadow:
		0 0.25em 0 0 white,
		0 0.5em 0 0 white;
}

.ham {
	top: 42px;
	right: 42px;
	position: absolute;
}

h3 {
	font-weight: 600;
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 145px;
	margin-left: 25px;
}

li {
	list-style: none;
}

.fas {
	color: white;
	padding: 0;
}

.arrow {
	display: inline-block;
	text-align: center;
	width: 125px;
	cursor: pointer;
}

.arrow:hover {
	cursor: pointer;
}

.fa-chevron-down:hover {
	color: black;
}

#list {
	display: none;
}

/* media queries with css grid */

@media (max-width: 800px) {
	.wrapper {
		display: grid;
		width: 100%;
		height: 100%;
		margin: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "energy""bros""smile";
	}

	.hamburger {
		grid-area: energy;
	}
}